<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="egovframework.sys.service.StbMapper">

	<select id="selectListCnt" parameterType="comParam" resultType="int">
		SELECT
			count(1)
		FROM
			TEST_STNDR_TB
			INNER JOIN TEST_CATE_TB A on TEST_STNDR_TB.CRTF_TYPE_SEQ = A.test_cate_seq
			INNER JOIN TEST_CATE_TB B on A.TOP_DEPTH_SEQ = B.test_cate_seq
		WHERE TEST_STNDR_TB.STATE != 'D'
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			       
			        	<choose>
							<!-- 15-작성일 -->
			        		<when test="item.searchCode == 15">and date_format(TEST_STNDR_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
							<!-- 23	시험부 -->
							<when test="item.searchCode == 23">and FN_CODE_NAME (TEST_STNDR_TB.TEST_TYPE_CODE, 'TT') like concat('%',#{item.searchWord},'%')</when>
							<!-- 35	국가-->
							<when test="item.searchCode == 35">and (FN_CODE_NAME (COUNTRY_CODE, 'CN') like concat('%',#{item.searchWord},'%') OR COUNTRY_CODE like concat('%',#{item.searchWord},'%'))</when>
							<!-- 36	인증종류1 -->
							<when test="item.searchCode == 36">B.name like concat('%',#{item.searchWord},'%')</when>
							<!-- 37	인증종류2 -->
							<when test="item.searchCode == 37">A.name like concat('%',#{item.searchWord},'%')</when>
							<!-- 38	인증종류3 -->
							<when test="item.searchCode == 38"></when>
							<!-- 39	인증종류4 -->
							<when test="item.searchCode == 39"></when>
							<!-- 40	시험규격 -->
							<when test="item.searchCode == 40">TEST_STNDR_TB.TEST_STNDR like concat('%',#{item.searchWord},'%')</when>
							
						</choose>
					</foreach>
				</if>
	</select>

	<select id="selectList" parameterType="comParam" resultType="egovMap">
		set @rownum:=0;
		
		SELECT
			@rownum:=@rownum+1 as no, 
			lst.*
		FROM
			(
				SELECT
					TEST_STNDR_SEQ,
					concat (
						FN_CODE_NAME (COUNTRY_CODE, 'CN'),
						'(',
						COUNTRY_CODE,
						')'
					) country,
					IFNULL (B.name, '-') crtfc1Name,
					IFNULL (A.name, '-') crtfc2Name,
					'' crtfc3Name,
					'' crtfc4Name,
					IFNULL (
						fn_code_name (TEST_STNDR_TB.TEST_TYPE_CODE, 'TT'),
						'-'
					) TEST_TYPE,
					TEST_STNDR_TB.TEST_STNDR,
					TEST_STNDR_TB.MEMO,
					date_format (TEST_STNDR_TB.ins_dt, '%Y-%m-%d') insDtStr,
					FN_MEM_NAME (TEST_STNDR_TB.ins_mem_id) memName
				FROM
					TEST_STNDR_TB
					INNER JOIN TEST_CATE_TB A on TEST_STNDR_TB.CRTF_TYPE_SEQ = A.test_cate_seq
					INNER JOIN TEST_CATE_TB B on A.TOP_DEPTH_SEQ = B.test_cate_seq
				WHERE TEST_STNDR_TB.STATE != 'D'
				<if test="searchVO != null">
			        <foreach collection="searchVO" item="item" separator="">
			       
			        	<choose>
							<!-- 15-작성일 -->
			        		<when test="item.searchCode == 15">and date_format(TEST_STNDR_TB.ins_dt, '%Y%m%d') between date_format(#{item.startDate}, '%Y%m%d') and date_format(#{item.endDate}, '%Y%m%d')</when>
							<!-- 23	시험부 -->
							<when test="item.searchCode == 23">and FN_CODE_NAME (TEST_STNDR_TB.TEST_TYPE_CODE, 'TT') like concat('%',#{item.searchWord},'%')</when>
							<!-- 35	국가-->
							<when test="item.searchCode == 35">and (FN_CODE_NAME (COUNTRY_CODE, 'CN') like concat('%',#{item.searchWord},'%') OR COUNTRY_CODE like concat('%',#{item.searchWord},'%'))</when>
							<!-- 36	인증종류1 -->
							<when test="item.searchCode == 36">B.name like concat('%',#{item.searchWord},'%')</when>
							<!-- 37	인증종류2 -->
							<when test="item.searchCode == 37">A.name like concat('%',#{item.searchWord},'%')</when>
							<!-- 38	인증종류3 -->
							<when test="item.searchCode == 38"></when>
							<!-- 39	인증종류4 -->
							<when test="item.searchCode == 39"></when>
							<!-- 40	시험규격 -->
							<when test="item.searchCode == 40">TEST_STNDR_TB.TEST_STNDR like concat('%',#{item.searchWord},'%')</when>
							
						</choose>
					</foreach>
				</if>
				order by
					TEST_STNDR_TB.TEST_STNDR_SEQ ASC
			) lst
		ORDER BY
			no desc
		LIMIT #{pageUnit} OFFSET #{firstIndex};
	</select>
	
</mapper>